/* Chat containers */
.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .chat-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .chat-container img {
    float: left;
    max-width: 32px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  .chat-text-box {
      width: 90%;
      height: 32px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .chat-send-button {
    margin-left: 30%;
    margin-right: 30%;
    width: 128px;
    height: 32px;
  }